version: "3.9"

services:
  user_service:
    build: .
    container_name: user_service
    ports:
      - "8001:8000"
    depends_on:
      - db
      - redis
    env_file: .env

  db:
    image: postgres:15
    container_name: user_db
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: user_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
