fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg==0.27.0

alembic==1.11.1
python-dotenv
passlib[bcrypt]
pydantic-settings

python-jose[cryptography]
pydantic>=2.0
pydantic[email]

psycopg2-binary
pytest
redis